language: php
php:
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4

install:
  - composer install --no-interaction --no-progress

script:
  - composer test

notifications:
  email: false

jobs:
  include:
    - stage: checks
      php:
        - 7.2
      script:
        bash .travis/hasGitChanges.sh
